.about-images{
    position: relative;
   

    &__single{
        position: absolute;
        width: 50%;
        padding: 1.5rem;
    }

    &__single--1{
        top: 0;
    }
    &__single--2{
right: 0;
top: 5rem;
    }
    &__single--3{
top: 20rem;
    }
}