.section-padding{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 10rem;
    max-width: $grid-width;
    margin: 0 auto;
}

.title-heading-1{
    font-size: 4.5rem;
    color: $color-primary-dark;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 108%;
    letter-spacing: .2rem;
    margin-bottom: 2.2rem;
}

.title-heading-2{
    font-size: 4.5rem;
    color: $color-primary-light;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 108%;
    letter-spacing: .2rem;
    margin-bottom: 2.2rem;
}

.btn{
    &,
    &:link,
    &:visited {
        padding: 1.5rem 2.5rem;
        background-color: $color-secondary;
        color: $color-white;
        border: none;
        border-radius: .5rem;
        font-size: 1.3rem;
        margin-top: 2rem;
    }
}