.banner-section{
    height: 100vh;
    background-image: url(/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-white;
}

.about-section{
   height: 65rem;
}

.recommended-section{
    margin-bottom: 16rem;
}

.activites-section{
    background-color: $color-primary-dark;
    height: 80rem;
}

.subscribe-section{
    // height: 65rem;
    padding-bottom: 5rem;
 }

 .popular-section{
    margin-bottom: 16rem;
}

.special-section{

}

